* {
    box-sizing: border-box;
}
html body {
    font-size: 1.0625rem;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;

    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center top;
}
nav {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}
#linkPrvi {
    text-decoration: none;
    color: black;
}
#divNav {
    display: inline-block;
    background-size: 106px 60px;
    height: 30px;
    width: 106px;
    margin: 20px 0 0 1rem;
}
#sfinga {
    height: 50px;
    width: 50px;
}
#h1Sfinga {
    display: inline-block;
    position: absolute;
    margin-top: 7px;
}
#ulNav {
    list-style: none;
    float: right;
    margin: 0 20px 0 0;
    padding: 0;
    line-height: 4.375rem;
}
.liNav {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    padding: 5px;
    font-size: 14px;
}
.dropdown {
    display: inline-block;
    float: right;
}
.dropbtn {
    opacity: 0.0;
}
.ulNavLinks {
    color: black;
}
.ulNavLinks:hover {
    background-color: lightgray;
}
#Article1 {
    position: relative;
    z-index: -1;
    height: 600px;
    width: 100%;
}
#h1PrvogArtikla {
    margin-top: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#pPrvogArtikla {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
#btnPrvogArtikla {
    height: 40px;
    width: 17%;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
    margin: 50px auto;
    display: block;
    color: white;
}
@media screen and (max-width: 750px) {
    #btnPrvogArtikla {
    width: 50%;
    }
}
#btnPrvogArtikla:hover {
      background-color: black !important;  
}
#pozadina {
    position: absolute;
    z-index: -1;
    top: -150px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    width: 100%;
    height: 1000px;
    background-attachment: fixed;
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/bg/intro2.png");
}

/* ARTICLE 2 */

#Article2 {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 30px;
}
#Section1, #Section2, #Section3 {
    margin-left: 30px;
    text-align: center;
}
.spanArtikla2 {
    text-align: left;
}
.h4DrugogArtikla {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
}
.pArticle2 {
    font-size: 12px;
    margin-left: 80px;
    text-align: left;
}
#Section1, #Section2, #Section3 {
    display: inline-block;
    width: 30%;
    color: white;
}
@media screen and (max-width: 750px) {
    #Section1, #Section2, #Section3 {
    width: 100%;
    margin-left: 50px;
    padding: 0px;
    text-align: left;
    }
    .h4DrugogArtikla {
        margin-left: 50px;
    }
}
/* ARTICLE 3 */

#Article3 {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 30px;
    padding-left: 20px;
}
#Section4, #Section5, #Section6 {
    margin-left: 20px;
    text-align: center;
}
#h4OurServices, #h2WWO {
    text-align: center;
}
#h2WWO {
    margin-bottom: 40px;
}
.ikonaArtikla3 {
    margin: 0px auto;
    width: 50%;
    display: block;
    text-align: center;
}
.h4Artikla3 {
    text-align: center;
}
#Section4, #Section5, #Section6 {
    display: inline-block;
    width: 30%;
    color: white;
}
#Section4, #Section5, #Section6 {
    color: black;
}
.pSection {
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width: 750px) {
    #Section4, #Section5, #Section6 {
    width: 100%;
    }
}

/* ARTICLE 4 */

#Article4 {
    background: linear-gradient(to left, #1A2980 , #26D0CE);
    padding: 40px;
    color: white;
}
#btnArtikla4 {
    float: right;
    height: 40px;
    width: 22%;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
    color: blue;
    margin-top: 40px;
}
#h2Artikla4, #pArtikla4 {
    display: inline-block;
}
@media screen and (max-width: 750px) {
    #btnArtikla4 {
        float: none;
        width: 50%;
        margin: 0px;
    }
    #h2Artikla4, #pArtikla4 {
    display: block;
    }
    #Article4 {
    text-align: center;
    }
}

/* ARTICLE 5 */

#Article5 {
    text-align: center;
    margin-bottom: 0px;
}
#h4Artikla5 {
    margin-top: 50px;
}
#h2Artikla5 {
    margin-bottom: 50px;
}
#h4Artikla5, #h2Artikla5 {
    text-align: center;
}

/* CSS za animacije */

div#S1All {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro01.png");
}
div#S2All {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro02.png");
}
div#S3All {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro01.png");
}
div#S4All {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro04.png");
}
div#S5All {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro03.png");
}
div#S6All {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro02.png");
}

div#S1WD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro01.png");
}
div#S2WD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro02.png");
}

div#S1WDev {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro03.png");
}
div#S2WDev {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro02.png");
}
div#S3WDev {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro01.png");
}

div#S1GD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro04.png");
}
div#S2GD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro03.png");
}
div#S3GD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro02.png");
}

div#S1MD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro01.png");
}
div#S2MD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro04.png");
}
div#S3MD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro02.png");
}
div#S4MD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro03.png");
}
div#S5MD {
    background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro04.png");
}
#S1All, #S2All, #S3All, #S4All, #S5All, #S6All, #S1WD, #S2WD, 
#S1WDev, #S2WDev, #S3WDev, #S1GD, #S2GD, #S3GD, 
#S1MD, #S2MD, #S3MD, #S4MD, #S5MD {
  display: inline-block;
  width: 32%;
  background-image: url("http://www.pharaohlab.com/sphinx/demo/assets/img/projects/pro02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pProjekat {
    color: white;
  padding: 80px;
  background-color: rgba(0,0,0,0.6);
  margin: 0px;
  position: relative;
  opacity: 0;
}
.pProjekat:hover {
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}
label {
    margin-left: 7px;
    margin-right: 7px;
}
input {
    display: none;
}
input#X:checked ~ div.slike1 {
    display: block;
}
input#X:checked ~ label#XX {
    color: blue;
}
div.slike2 {
    display: none;
}
input#A:checked ~ div.slike2 {
    display: block;
}
input#A:checked ~ label#AA {
    color: blue;
}
input#A:checked ~ div.slike1 {
    display: none;
}
div.slike3 {
    display: none;
}
input#B:checked ~ div.slike3 {
    display: block;
}
input#B:checked ~ label#BB {
    color: blue;
}
input#B:checked ~ div.slike1 {
    display: none;
}
div.slike4 {
    display: none;
}
input#C:checked ~ div.slike4 {
    display: block;
}
input#C:checked ~ label#CC {
    color: blue;
}
input#C:checked ~ div.slike1 {
    display: none;
}
div.slike5 {
    display: none;
}
input#D:checked ~ div.slike5 {
    display: block;
}
input#D:checked ~ label#DD {
    color: blue;
}
input#D:checked ~ div.slike1 {
    display: none;
}


/* kraj CSSa za animacije */

@media screen and (max-width: 750px) {
    #S1All, #S2All, #S3All, #S4All, #S5All, #S6All, #S1WD, #S2WD, 
    #S1WDev, #S2WDev, #S3WDev, #S1GD, #S2GD, #S3GD, 
    #S1MD, #S2MD, #S3MD, #S4MD, #S5MD {
    width: 100%;
    height: auto;
    }
}

/* ARTICLE 6 */

#Section7, #Section8, #Section9 {
    width: 33%;
    display: inline-block;
}
#Article6 {
    padding: 40px;
    text-align: center;
}
#h4Artikla6, #h2Artikla6 {
    text-align: center;
}
#h4Artikla6 {
    margin-top: 50px;
}
#h2Artikla6 {
    margin-bottom: 50px;
}
.teamMember {
    border-radius: 50%;
    width: 70%;
}
.imePrezimeA6 {
    text-decoration: none;
    color: black;
}
.imePrezimeA6:hover {
    color: blue;
}
.linkArtikla6, .pArtikla6, .spanArtikla6 {
    text-align: center;
}
#srednjiSpanA7 {
    margin: 0px 5px;
}
.pSpanA8 {
    text-align: left;
}
@media screen and (max-width: 750px) {
    #Section7, #Section8, #Section9 {
    width: 100%;
    display: inline-block;
    }
}

/* ARTICLE 7 */

#Article7 {
    background-color: lightgray;
    padding: 50px;
    text-align: center;
}
.ikonaArtikla7 {
    text-align: center;
}
#Section10, #Section11, #Section12, #Section13 {
    text-align: center;
    display: inline-block;
    width: 24%;
    color: black;
}
.p1Artikla7 {
    font-size: 40px;
}
@media screen and (max-width: 750px) {
    #Section10, #Section11, #Section12, #Section13 {
    width: 100%;
    display: inline-block;
    }
}

/* ARTICLE 8 */

#Article8 {
    padding: 40px;
    text-align: center;
}
#h4Artikla8, #h2Artikla8 {
    text-align: center;
}
#h2Artikla8 {
    margin-bottom: 50px;
}
#Section14, #Section15, #Section16 {
    border: 1px solid lightgray;
    display: inline-block;
    width: 30%;
    color: black;
}
#Section15 {
    margin-left: 20px;
    margin-right: 20px;
}
.h4SA8, .pSA8 {
    text-align: center;
}
.btnArtikla8 {
    height: 40px;
    width: 50%;
    border-radius: 3px;
    border: none;
    background-color: gray;
    color: white;
}
.pBtnaA8 {
    text-align: center;
}
.spanA8 {
    margin: 0px 10px;
    color: blue;
}
@media screen and (max-width: 750px) {
    #Section14, #Section15, #Section16 {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    }
}

/* ARTICLE 9 */

#h4Artikla9, #h2Artikla9 {
    text-align: center;
}
#h2Artikla9 {
    margin-bottom: 50px;
}
#Article9 {
    padding: 40px;
    background-color: lightgray;
    text-align: center;
}
.blogSlika {
    border-radius: 0px;
    width: 100%;
    height: auto;
}
#Section17, #Section18, #Section19 {
    background-color: white;
    border: 1px solid lightgray;
    display: inline-block;
    margin: 0px auto;
    width: 30%;
    color: black;
}
#Section18 {
    margin-left: 20px;
    margin-right: 20px;
}
.tekstBloga {
    padding: 12px;
    text-align: left;
}
.pCommentA9 {
    display: inline-block;
    text-align: left;
    width: 55%;
}
.linkA9 {
    float: right;
    text-decoration: none;
    margin-top: 17px;
}
hr {
    color: lightgray;
    font-size: 1px;
}
@media screen and (max-width: 750px) {
    #Section17, #Section18, #Section19 {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    }
    .pCommentA9 {
        text-align: left;
        float: left;
    }
}

/* ARTICLE 10 */

#h4Artikla10, #h2Artikla10 {
    text-align: center;
}
#h2Artikla10 {
    margin-bottom: 50px;
}
#Article10 {
    padding: 40px;
    text-align: center;
}
form {
    text-align: left;
}
input {
    width: 43%;
}
textarea {
    width: 100%;
    margin-top: 15px;
}
#inputForma1 {
    display: inline-block;
}
#inputForma2 {
    display: inline-block;
    float: right;
}
#btnForma {
    display: inline-block;
    width: 100%;
    height: 40px;
    color: white;
    background-color: skyblue;
}
#Section20, #Section21 {
    display: inline-block;
    width: 45%;
    color: black;
}
#Section21 {
    border: 2px solid lightgray;
    margin-top: 5px;
    margin-left: 20px;
}
iframe {
    width: 100%;
    height: 230px;
    margin-top: 0px;
}
@media screen and (max-width: 750px) {
    #Section20, #Section21 {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        }
}

/* ARTICLE 11 */

#Article11 {
    text-align: center;
    background-color: lightgray;
    padding: 50px;
}
.brand {
    width: 15%;
    margin-left: 20px;
    margin-right: 20px;
}
@media screen and (max-width: 750px) {
   .brand {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    } 
}

/* FOOTER */

#footer {
    text-align: center;
    background-color: gray;
    padding: 30px 20px;
}
#sectionF1, #sectionF2, #sectionF3, #sectionF4 {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}
.ulFooter {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
progress {
    font-size: 5px;
    width: 100%;
}
#footer2 {
    background-color: black;
    color: gray;
}
#poslednjiSection {
    background-color: black;
    color: gray;
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 10px 5px;
}
@media screen and (max-width: 750px) {
    #sectionF1, #sectionF2, #sectionF3, #sectionF4 {
        width: 100%;
    }
}

/* CSS za dropdown */

@media screen and (max-width: 750px) {
    .dropbtn {
        background-color: skyblue;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: 2px solid lightgray;
        border-radius: 5px;
        cursor: pointer;
        opacity: 1.0;
    }
    .dropdown {
        margin-top: 10px;
        margin-right: 15px;
        position: relative;
        display: inline-block;
    }
    #ulNav {
        display: none;
        position: absolute;
        background-color: lightgray;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    #ulNav a {
        color: black;
        text-decoration: none;
        display: block;
    }
    #ulNav a:hover {background-color: #f1f1f1}

    .dropdown:hover #ulNav {
        display: block;
    }
    .dropdown:hover .dropbtn {
        background-color: transparent;
    }
}